# http://www.github.org/Noakhali/Spaming/Team

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.github.org/Noakhali/Spaming/Team

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/Noakhli/team/

/Team.sh

# http://www.github.org/Noakhali/Spaming/Team

/Team.tex

# http://www.github.com/Noakhali/m4/

m4/ltteam.m4
m4/noakhli.m4
m4/ltsugar.m4
m4/ltspam.2.0.m4
m4/lt~Spaming.m4

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
